body{
    position: relative;
    border: 5px solid black;
    padding: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    top: 5px;
}

body .boxright{
     position: absolute;
    background-color: yellow;
    width: 10px;
    padding: 25px;
    left: 40px;
    top: 25px;
}

body .center{
    position: absolute;
    background-color: yellow;
    width: 50%;
    padding: 25px;
    margin-left: 20%;
    top: 25px;
}

.center .insidebox1{
    position: absolute;
    background-color: blue;
    width: 100px;
    height: 25px;
    padding: 5px;
    bottom: 1px;
}

body .center .insidebox1 .insidered{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    right: 0px;
    top: 0px;
}

.center .insidebox2{
    position: absolute;
    background-color: blue;
    width: 30%;
    height: 20px;
    padding: 5px;
    bottom: 0px;
    left: 35%;
}

.center .insidebox3{
    position: absolute;
    background-color: blue;
    width: 10%;
    height: 20px;
    padding: 5px;
    right: 20px;
    bottom: 0px;
}

.boxleft{

    position: absolute;
    background-color: yellow;
    width: 35px;
    padding: 25px;
    right: 70px;
    top: 25px;
}

.boxleft .border{
    position: absolute;
    border: 5px solid green;
    padding: 10px;
    top: 5px;
    bottom: 5px;
    width: 10px; 
    left: 24px;
}

